<div class="headerComponent">
    <nav>
        <img src="assets/images/writiclelogo.PNG" alt="Writicle Logo">
        <div class="tabList">
            <div class="leftTabs">
            
                <a [routerLink]="['feeds']" routerLinkActive="active" >Home</a>
                <a [routerLink]="['about']" routerLinkActive="active" >About</a>
                <a [routerLink]="['contact']" routerLinkActive="active" >Contact</a>
            
            </div>
               
                <div class="rightTabs" *ngIf="!isLogineed">
                    <a [routerLink]="['login']" routerLinkActive="active" >Login</a>
                <a [routerLink]="['register']" routerLinkActive="active"  >Register</a>
                </div>
                <div class="rightTabs" *ngIf="isLogineed">
                    <a [routerLink]="['/logout']"  >Logout</a>
                </div>
        </div>
    </nav>
</div>