<div class="headerComponent">
    <nav>
        <img src="assets/images/writiclelogo.PNG" alt="Writicle Logo">
        <div class="tabList">
            <div class="leftTabs">
            
                <a [routerLink]="['']" routerLinkActive="active" >Home</a>
                <a href="about">About</a>
                <a href="contact.html">Contact</a>
            
            </div>
            <div class="rightTabs">
               
                <a [routerLink]="['login']" routerLinkActive="active" >Login</a>
                <a [routerLink]="['register']" routerLinkActive="active"  >Register</a>
            
            </div>
        </div>
    </nav>
</div>