<div class="feedContainer">
    
    <div class="feedArticle">
        <app-feed-article></app-feed-article>
    </div>
    
    <aside class="feedAside">
        <app-aside-articles></app-aside-articles>
        <div class="diffwebArticles">
            <h3>Articles from other sites</h3>
            <div class="oneFeed">
                <div class="imageAside"><img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAOkZxA.img?h=213&w=378&m=6&q=60&o=f&l=f" alt=""></div>
                <div class="asideSection">
                    <a href="https://www.msn.com/en-in/news/world/drone-attack-hits-near-us-forces-in-erbil-northern-iraq-say-officials/ar-AAOlxvX?ocid=msedgntp"><p>Drone attack hits near US forces in Erbil, northern Iraq, say officials</p></a>
                    <p class="editedBy">India Today</p>
                </div>
            </div>
            <div class="oneFeed">
                <div class="imageAside"><img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAOm4Kz.img?h=1119&w=1119&m=6&q=60&o=f&l=f&x=576&y=273" alt=""></div>
                <div class="asideSection">
                    <a href="https://www.msn.com/en-in/entertainment/other/sonu-sood-s-fan-set-to-dedicate-a-song-to-the-actor-titled-dil-se-hai-salaam/ar-AAOmgC8?ocid=msedgntp"><p>Sonu Sood's fan set to dedicate a song to the actor titled 'Dil se hai salaam'</p></a>
                    <p class="editedBy">I.A.N.S</p>
                </div>
            </div>
            <div class="oneFeed">
                <div class="imageAside"><img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAOjYk9.img?h=244&w=420&m=6&q=60&u=t&o=t&l=f&x=559&y=271" alt=""></div>
                <div class="asideSection">
                    <a href=""><p>Tokyo Olympic gold medallist Neeraj Chopra takes parents on their FIRST flight, pics go VIRAL</p></a>
                    <p class="editedBy">India Today</p>
                </div>
            </div>
            <div class="oneFeed">
                <div class="imageAside"><img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAOir2G.img?h=746&w=1119&m=6&q=60&o=f&l=f" alt=""></div>
                <div class="asideSection">
                    <a href=""><p>Enjoy luxury travel to Goa, Lakshadweep, Sri Lanka & more! IRCTC to launch cruise liner tours on September 18</p></a>
                    <p class="editedBy">The Financial Express</p>
                </div>
            </div>
        </div>
    </aside>
</div>