<div class="aboutContainer">
    <img src="assets/images/writiclelogo.PNG" alt="Writicle">

    <div class="aboutText">
        <h2><i>Welcome to Writicle,</i></h2>
        <q><b><i><p>Writicle is all about writing and reading articles. From here you do not need to go anywhere else to read article because, Writicle provides articles from various sites like Indiatoday, TheFinancialExpress, TimesofIndia and many more. We are trying to spread our hands not only in India, but from all over the world.</p>
        <p>This web application is completely free to write and read articles.</p>
        </i></b></q>
        
    </div>
</div>