<div class="contactContainer">
    <div class="leftSide">
        <div class="leftContent">
            <h1 class="contactText">Contact Us</h1>

            <h2 class="contactText">Further any query:</h2>
            <h3 class="contactText">93434343</h3>

            <h2 class="contactText">Mail : jaykumarbamania@gmail.com</h2>
        </div>
    </div>
    <div class="rightSide">
        <div class="logoDiv">
            <img src="assets/images/writiclelogo.PNG" alt="Writicle">
        </div>
        <h1>Get in Touch</h1>
        <p>If you have any questions or need help, please fill out the form below. We do our best to respond it.</p>
        <app-contact-form></app-contact-form>
    </div>
</div>