<div id="container">
    <img src="assets/images/writiclelogo.PNG" alt="Writicle Logo">
    <h1>Sign In</h1>
    <p>Don't have an account? <a href="register.html" class="link">Sign Up</a> </p>
    <div id="tableBorder">
        <form  [formGroup] = "loginForm" (submit)="loginFunction()" method="post">
            <table>
                <tr>
                    <th><label for="loginemail" id="loginemaillabel">Username </label></th>
                    <td>
                        <input class="form-control" id="username" type="text" formControlName="username">
                        <div [ngClass]="{myColor: true}" *ngIf="getUserName.invalid && getUserName.touched">
                            <span *ngIf="getUserName.errors.required">
                                <b >This field is required</b>
                            </span>
                            <!-- <ng-template #nameElse>
                                <span *ngIf="getUserName.errors.pattern">
                                    <b>Name should have only Alphabets</b>
                                </span>
                            </ng-template> -->
                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><label for="lpassword" id="lpasslabel">Password : </label></th>
                    <td>
                        <input class="form-control" id="password" type="password" formControlName="password" >
                            <div [ngClass]="{myColor: true}" *ngIf="getPass.invalid && getPass.touched">
                                <span *ngIf="getPass.errors.required">
                                    <b >This field is required</b>
                                </span>
                            </div>
                    </td>
                </tr>
                <tr>
                    <!-- <td colspan="2"><input type="submit" Value="Login" id="subButton"></td> -->
                    <td colspan="2"><button type="submit" id="subButton">Login</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>