html {
  padding: 0;
}

.headerText,
h1 {
  margin-left: 10px;
  display: inline-block;
  color: #6b3783;
  font-size: 2rem;
}

div.selected {
  background-color: #ae96b9;
  color: white;
}

.feedArticle h1 {
  margin-left: 0;
}

.feedList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.card {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: 10px auto;
  text-align: left;
  font-family: arial;
  background-color: white;
  transition: 0.3s;
  height: auto;
}

.card:hover {
  box-shadow: 4px 8px 16px 5px rgba(0, 0, 0, 0.2);
  transform: translateZ(20px);
}

.editBy {
  text-align: right;
  color: grey;
  font-size: 1rem;
}

.editedBy {
  text-align: left;
  color: grey;
  font-size: 1rem;
  margin: 0;
}

.actionSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.card > .actionSection > a > button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #6b3783;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card img {
  height: 250px;
}

.card > a {
  color: white;
  text-decoration: none;
}

.card > .actionSection > a > button:hover {
  background-color: #9463aa;
}

.aboutfeed {
  margin: 0 5px;
}

.aboutfeed > h3 > a {
  text-decoration: none;
}
hr {
  color: red;
}

.icons {
  color: #6b3783;
  margin-right: 0;
  margin-left: 3px;
  font-size: 25px !important;
}